<%= form_for @pill_taken_event, :html => { :class => "form-horizontal pill_taken_event" } do |f| %>

  <% if @pill_taken_event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pill_taken_event.errors.count, "error") %> prohibited this pill_taken_event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pill_taken_event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pill_taken_events_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
